/*Navbar*/
nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  z-index: 1000;
  background-color: #4154A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  top: 0px;
}

nav span {
  font-family: 'Bungee', cursive;
}

nav p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.fa-angle-double-down {
  color: #EB9D00;
}

p span {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

/*Bounce and hover effects of navbar arrows*/
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

i:hover {
  opacity: 0.5;
  transition: .3s ease-in-out;
} 


@media only screen and (max-width: 1024px) {
  nav {
    width: 100%;
    background-color: #EB9D00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  .fa-angle-double-down {
    color: #FF0000;
  }
}