/* Post new tweet */
textarea {
  border: none;
  overflow: auto;
  outline: none;
  background-color: #f4f1ec;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid black;
}

input { 
  background-color: #4154a1;
  font-family: 'Bungee', cursive;
  float: left;
  color: #ffff;
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  font-weight: 600;
}

/* Count Characteres*/
.exceeded {
  color: red;
}

/* New tweet*/
article {
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

article:hover {
  border: solid black;
  -moz-box-shadow: black;
  -webkit-box-shadow: black;
  box-shadow: 5px 5px 0px cornflowerblue;
}

article.tweet header {
  display: flex;
  background-color: #f4f1ec;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}

.usertag {
  margin-left: auto;
}

article.tweet textarea {
  border-bottom: 2px solid black;
  /* padding: 10px;
  margin: 20px */
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 12px
}

article.tweet img {
  height: 100px;
  width: 100px;
  float: left;
  top: 1px;
} 
