/* Post new tweet */
textarea {
  border: none;
  overflow: auto;
  outline: none;
  background-color: #f4f1ec;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid black;
}

input { 
  background-color: #4154a1;
  font-family: 'Bungee', cursive;
  float: left;
  color: #ffff;
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  font-weight: 600;
}

/* Count Characteres*/
.exceeded {
  color: red;
}

/* New tweet*/

article {
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
}

article:hover {
  border: solid black;
  -moz-box-shadow: black;
  -webkit-box-shadow: black;
  box-shadow: 5px 5px 0px cornflowerblue;
}

article.tweet header {
  display: flex;
  background-color: #f4f1ec;
  height: auto;
  width: 100%;
}

.name {
  margin-right: auto;
  padding-top: 0px;
}

.user {
  margin-left: auto;
  padding-top: 0px;
}

article.tweet div p{
  border-bottom: 2px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
}

article.tweet img {
  height: 100px;
  width: 100px;
  float: left;
  top: 1px;
} 
